body {
    background-color: #1E1E1E;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#main-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 40px); /* Subtracting 20px margin from both sides */
    height: calc(100vh - 40px); /* Subtracting 20px margin from top and bottom */
    margin: 20px;
}

#side-bar {
    display: flex;
    flex-direction: column;
    width: 15%; /* Adjust as needed */
    padding: 20px;
    margin-right: 20px;
    height: 100%; /* Add this line to make the side-bar fill its parent's height */
}

.title {
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    align-items: center;
    text-align: center;
    border-radius: 16px 16px 0px 0px;
    background-color: #4D4D51;
}

#courses {
    display: flex;
    flex-direction: column;
    background-color: #3E3E42;
    border-radius: 0px 0px 16px 16px;   
    padding: 20px;
    gap: 10px;
}

.course {
    padding: 10px;
    background-color: #9D43BC;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

#schedule {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 41px;
    background-color: #3E3E42;
    margin-left: 20px;
    margin-top: 20px;
    height: 80%; /* Add this line to make the schedule fill its parent's height */
    justify-content: center; /* Add this line to center the grid horizontally */
    align-items: center; /* Add this line to center the grid vertically */
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4px;
    background-color: #8C8C8C;
    width: 100%;
}

.grid > div {
    background-color: #3E3E42;
    outline: none;    
}

.cell {
    padding: 10px;
    text-align: center;
}