<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/stylesheet.css">
</head>
<body>
    <!-- HTML -->
    <div id="main-container">
        
        <div id="side-bar">
            <div class="title">
                <div>Courses</div>
            </div>
            <div id="courses">
                <div class="course" draggable="true">LAN161</div>
                <div class="course" draggable="true">HUM1307</div>
                <div class="course" draggable="true">Course 1</div>
                <div class="course" draggable="true">Course 2</div>
                <div class="course" draggable="true">Course 1</div>
                <div class="course" draggable="true">Course 2</div>
                <div class="course" draggable="true">Course 1</div>
                <div class="course" draggable="true">Course 2</div>
                <!-- More courses go here -->
            </div>
        </div>
        

        <div id="schedule">
            <div id="weekdays"></div>
            <div id="times"></div>
            <div class="grid">
            </div>
        </div>
    </div>

    <script src="../../static/scripts.js">    </script>
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script> 
    <script src="https://mediafiles.botpress.cloud/2a719d7c-4ec1-4b1d-8888-dc7702b2e16f/webchat/config.js" defer></script>
</body>
</html>